// Specific CSS for your home-page
.button {
  background-color: #e0dede;
  border-radius: 10px 10px 10px 10px;
  color: rgb(37, 35, 35);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 10px 250px;
  margin-top: 20px;
}
.home-image {
  height: 111vh;
  width: 500px;
  object-fit: cover;
}
h1 {
  background: linear-gradient(to bottom, #cfc09f 22%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 7vw;
  font-weight: 200;

}

h1:after {
  background: none;
  content: attr(data-heading);
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  text-shadow:
  -1px 0 1px #c6bb9f,
  0 1px 1px #c6bb9f,
  5px 5px 10px rgba(0, 0, 0, 0.4),
  -5px -5px 10px rgba(0, 0, 0, 0.4);
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2  5px;
}

.home-content-container {
  padding-left: 20px;
  padding-top: 20px;
}
.container {
  margin: 0;
  padding: 0;
}
.home-container {
  width: 100% !important;

}
.main {
  background-color: rgb(35, 32, 32);
}
.area {
  position: relative;
  width: 800px;
  height: 800px;
  text-align: center;
  padding: 20px;
}
.height {
  margin-top: 70px;
}

#margin {
  margin-top: 60px;
}
