<footer>
<p>Address : Visit us at Av da Pedra Verde, 90 Matosinhos</p>
</footer>
<style>
footer {
  background-color: #fffcf8;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;

}
</style>
